.ac-frstbody {
  width: 100%;
  height: 70vh;
  background-color: rgb(24, 23, 23);
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ac-main-img {
  width: 90%;
  height: 400px;
  border-radius: 8px;
}

.ac-items-about-div {
  width: 100%;
  height: 280vh;
  background-color: rgb(24, 23, 23);
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
}
.ac-total-div {
  width: 350px;
  height: 1700px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.ac-items-div {
  width: 350px;
  height: 1700px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.ac-card-div {
  width: 100%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.705);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.ac-card-images {
  width: 300px;
  /* background-color: aqua; */
  height: 100px;
}
.ac-card-name {
  color: rgba(255, 255, 255, 0.664);
  font-size: 20px;
  text-align: center;
}
.ac-card-rate {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
}

.ac-about-div {
  position: sticky;
  top: 120px;
  width: 750px;
  height: 450px;
  margin-bottom: 75px;
  margin-top: 85px;
}
.about-ac-img {
  width: 100%;
  height: 450px;
  border-radius: 8px;
}
.ac-about-box {
  border-radius: 8px;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.ac-about-acimg {
  width: 450px;
  height: 150px;
}
.ac-about-line {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.144);
}

.ac-about-text-div {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-evenly;
}
.ac-about-text-box {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.ac-features-div {
  width: 45%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.329);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* =================Meadia================ */

@media (max-width: 500px) {
  .ac-frstbody {
    /* background-color: aqua; */
    height: 25vh;
    margin-top: 80px;
    overflow: hidden;
  }
  .ac-main-img {
    height: 90%;
    overflow: hidden;
    border-radius: 4px;
  }
  .ac-items-about-div {
    height: 180vh;
    /* background-color: aqua; */
    flex-direction: column-reverse;
    overflow: hidden;
    align-items: center;
  }

  .about-ac-img {
    width: 320px;
    height: 200px;
    overflow: hidden;
    border-radius: 4px;
    margin-left: 8px;
    margin-top: 45px;
  }
  .ac-items-div {
    overflow: hidden;
    align-items: center;
    width: 100%;
    height: 99%;
    /* background-color: rgb(160, 14, 14); */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .ac-card-div {
    overflow: hidden;
    width: 169px;
    height: 250px;
    margin-left: 9px;
  }
  .ac-card-images {
    width: 160px;
    overflow: hidden;
    height: 80px;
  }
  .ac-card-name {
    font-size: 12px;
  }

  .ac-card-name {
    font-size: 12px;
  }

  .phone-btn {
    font-size: 13px;
  }

  .mobile-trnd-h3 {
    text-align: center;
  }
  .ac-total-div {
    width: 100%;
    overflow: hidden;
    height: 870px;
  }

  .ac-about-acimg {
    width: 80%;
    height: 90px;
    margin-top: 5px;
  }

  .ac-about-div {
    overflow: hidden;
    height: 300px;
    width: 90%;
    border-radius: 4px;
    top: 0;
    margin-bottom: 0px;
    margin-top: 0px;
    /* background-color: blue; */
  }
  .ac-features-div {
    height: 80%;
    border-radius: 4px;
    margin-top: 30px;
  }
  .ac-about-line {
    margin-top: 10px;
  }
}
